$white: #fff;
$orange: #ff4500;
img { display: block; max-width: 300px; max-height: 200px; }

.content-block { padding-top: 25px; }
.form-horizontal { margin-bottom: 25px; }
.input-group { margin-bottom: 25px; }
.action { background-color: $orange; }
.white { color: $white; }
