<div class="panel-heading">
  <div class="panel-title">
    <h1>Ingresar al sistema</h1>
  </div>
</div>
<div class="panel-body">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <input  type="text"
              class="form-control"
              [(ngModel)]="codsys" name="codsys"
              #sys="ngModel"
              number
              placeholder="Codigo SIS"
              required
              maxlength="9">
      <small class="form-text text-muted" *ngIf="sys.errors?.number">Solamente numeros</small>
    </div>
    <div class="form-group">
      <input  type="password"
              class="form-control"
              [(ngModel)]="password" name="password"
              #pass="ngModel"
              digits
              placeholder="Ingrese su CI"
              required
              maxlength="9">
      <small class="form-text text-muted" *ngIf="pass.errors?.digits">Solamente numeros</small>
    </div>
    <div class="buttons">
      <button (click)="setCookie()" class="btn action"><span class="white">ENTRAR</span></button>
    </div>
  </form>
</div>
