<header>
  <nav class="navbar navbar-light bg-primary">
    <h1 class="navbar-brand brand">Inscripciones Laboratorios Electrica</h1>
    <ul class="list-inline">
    <li class="nav-item list-inline-item">
        <div>
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <a>{{codsys}}</a>
        </div>
    </li>
    <li class="nav-item list-inline-item">
        <div>
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <a>Salir</a>
        </div>
    </li>
    </ul>
  </nav>
</header>


