<div class="panel-heading">
    <div class="panel-title">
        <h1>{{ (subject | async)?.name }}</h1>
    </div>
</div>

<div class="panel-body">
    <div class="form-check" *ngFor="let item of (subject | async)?.groups">
        <label (click)="setGroup(item)" class="form-check-label">
            <input class="form-check-input" type="radio" name="radioGroup" id="exampleRadios1" [value]="item.number" checked>
            <p> {{item.number}} - {{item.docentName}} -{{item.schedule}}</p>
        </label>
        <hr>
    </div>
</div>

<p>{{selectedGroup | json}}</p>
            